---
---

// - - - - - - - - - - Foundations

@import "_reset";
@import "_mixins";

// - - - - - - - - - - Variables

// Colors

$background-color: white;
$text-color: black;
$accent-color: #yellow;

$banner-background-color: #6CAFDE;

$header-background-color: #6CAFDE;
$header-text-color: white;
$header-accent-color: white;


// - - - - - - - - - - Global styles

@import "_includes/_basic";
@import "_includes/_banner";
@import "_includes/_header";