---
---

// - - - - - - - - - - Foundations

@import "_reset";
@import "_mixins";

// - - - - - - - - - - Variables

// Colors

$background-color: white;
$text-color: black;
$accent-color: #yellow;

$banner-background-color: #6CAFDE;

$header-background-color: #6CAFDE;
$header-text-color: white;
$header-accent-color: white;

// Fonts
$font-family: 'Roboto';
$regular-weight: 300;
$bold-weight: 500;

$menu-small: 18px;
$menu-medium: 22px;
$menu-large: 26px;
$menu-weight: 500;

$h1-small: 25px;
$h1-medium: 35px;
$h1-large: 45px;
$h1-weight: 500;

$h2-small: 22px;
$h2-medium: 30px;
$h2-large: 35px;
$h2-weight: 500;

$h3-small: 20px;
$h3-medium: 25px;
$h3-large: 30px;
$h3-weight: 500;

$h4-small: 17px;
$h4-medium: 22px;
$h4-large: 25px;
$h4-weight: 500;

$h5-small: 17px;
$h5-medium: 20px;
$h5-large: 20px;
$h5-weight: 500;

$h6-small: 17px;
$h6-medium: 20px;
$h6-large: 20px;
$h6-weight: 500;

$p-small: 15px;
$p-medium: 17px;
$p-large: 19px;
$p-weight: 300;

$blockquote-small: 25px;
$blockquote-medium: 35px;
$blockquote-large: 45px;
$blockquote-weight: 300;

// - - - - - - - - - - Global styles

@import "_includes/_basic";
@import "_includes/_banner";
@import "_includes/_header";
@import "_includes/_portfolio";