<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Page Info -->
	<link rel="shortcut icon" href="{{ site.data.settings.basic_settings.favicon_image | relative_url }}">
	<title>{{ site.data.settings.basic_settings.site_title }}</title>

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700" rel="stylesheet">

    <!-- Styles -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
</head>