// - - - - - - - - - - - - - - - - - -

// Basics

// - - - - - - - - - - - - - - - - - -


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Basics

html, body {
	height: 100%;
}

body {
	background: $background-color;
	font-family: $font-family;
	font-weight: $regular-weight;
	font-style: normal;
	line-height: 1;
	color: $text-color;
}



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Typography

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family;
	color: $text-color;

	&:first-child {
		margin-top: 0;
	}
}

h1, .h1 {
	font-size: $h1-small;
	font-weight: $h1-weight;
	text-align: center;
	line-height: $h1-line-height;

	@include mq(tabletp) {
		font-size: $h1-medium;
	}

	@include mq(laptop) {
		font-size: $h1-large;
	}
}

h2, .h2 {
	margin-top: 30px;
	font-size: $h2-small;
	font-weight: $h2-weight;
	text-align: center;
	line-height: $h2-line-height;

	@include mq(tabletp) {
		font-size: $h2-medium;
	}

	@include mq(laptop) {
		margin-top: 40px;
		font-size: $h2-large;
	}
}

h3, .h3 {
	margin-top: 30px;
	font-size: $h3-small;
	font-weight: $h3-weight;
	line-height: $h3-line-height;

	@include mq(tabletp) {
		font-size: $h3-medium;
	}

	@include mq(laptop) {
		margin-top: 40px;
		font-size: $h3-large;
	}
}

h4, .h4 {
	margin-top: 25px;
	font-size: $h4-small;
	font-weight: $h4-weight;
	line-height: $h4-line-height;

	@include mq(tabletp) {
		font-size: $h4-medium;
	}

	@include mq(laptop) {
		font-size: $h4-large;
	}
}

h5, .h5 {
	margin-top: 15px;
	font-size: $h5-small;
	font-weight: $h5-weight;
	line-height: $h5-line-height;

	@include mq(tabletp) {
		font-size: $h5-medium;
	}

	@include mq(laptop) {
		font-size: $h5-large;
	}
}

h6, .h6 {
	margin-top: 15px;
	font-size: $h6-small;
	font-weight: $h6-weight;
	text-align: center;
	line-height: $h6-line-height;

	@include mq(tabletp) {
		font-size: $h6-medium;
	}

	@include mq(laptop) {
		font-size: $h6-large;
	}
}

p, ul, ol {
	margin-top: 15px;
	font-size: $p-small;
	font-weight: $p-weight;
	line-height: $p-line-height;

	@include mq(tabletp) {
		font-size: $p-medium;
	}

	@include mq(laptop) {
		font-size: $p-large;
	}

	strong {
		font-weight: $bold-weight;
	}
}

ul, ol {
	list-style-position: inside;
}

blockquote {
	margin-top: 15px;
	border-left: 2px solid $text-color;
	padding: 10px 0 10px 20px;
	font-size: $blockquote-small;
	font-weight: $blockquote-weight;

	@include mq(tabletp) {
		border-left-width: 3px;
		padding: 15px 0 15px 30px;
		font-size: $blockquote-medium;
	}

	@include mq(laptop) {
		border-left-width: 4px;
		padding: 20px 0 20px 40px;
		font-size: $blockquote-large;
	}

	p {
		font-size: $blockquote-small;
		font-weight: $blockquote-weight;

		@include mq(tabletp) {
			font-size: $blockquote-medium;
		}

		@include mq(laptop) {
			font-size: $blockquote-large;
		}
	}
}

a {
	text-decoration: none;
	color: $text-color;
	font-weight: $bold-weight;
	@include transition(all 0.15s ease-in-out);

	&:hover {
		color: $accent-color;
	}
}

table {
	width: 100%;
	margin: 20px auto;

	th, td {
		width:150px;
		text-align:center;
		padding:5px
	}
}

img {
	padding-top: 20px;
	padding-bottom: 20px;
}

.button {
	display: inline-block;
	padding: 9px 10px 10px;
	font-family: $font-family;
	font-size: 13px;
	font-weight: $button-weight;
	line-height: 1;
	border: 2px solid $button-color;
	background: $button-color;
	color: $background-color;
	cursor: pointer;

	@include mq(tabletp) {
		padding: 11px 20px 12px;
		font-size: 15px;
	}

	&:hover {
		background: adjust-hue($button-color,15%);
		border-color: adjust-hue($button-color,15%);
		color: $background-color;
	}

	svg {
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
			margin-left: 5px;
		}

		@include mq(tabletp) {
			margin-right: 8px;

			&:last-child {
				margin-right: 0;
				margin-left: 8px;
			}
		}
	}
}

.button--large {
	padding: 15px 20px 16px;
	font-size: 13px;

	@include mq(tabletp) {
		padding: 19px 40px 20px;
		font-size: 17px;
	}
}

.button--light {
	background: transparent;
	border-color: $text-color;
	color: $text-color;

	&:hover {
		background: $accent-color;
		border-color: $accent-color;
		color: $background-color;
	}
}

.button--header {
	background: transparent;
	border-color: $header-text-color;
	color: $header-text-color;

	&:hover {
		background: $header-text-color;
		border-color: $header-text-color;
		color: $accent-color;
	}
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Content

.content {
	padding: 20px;

	@include mq(laptop) {
		padding: 40px;
	}
}

.content__header {
	max-width: 1360px;
	margin: auto;
	padding-bottom: 20px;

	@include mq(laptop) {
		padding-bottom: 40px;
	}
}

.content__body {
	max-width: 800px;
	margin: auto;
}